table tr td{
    border: 1px solid black;
}

tr {
    height: 2rem;
}

td {
    width: 2rem;
}

table{
    border-collapse: collapse;
}

.merge {
    border-right: 0;
    border-left: 0;
}

.table-3 {
    width: 350px;
}
