form {
    margin-left: 75px;
    margin-top: 50px;
    margin-bottom: auto;
    margin-right: 320px
}

.margin-left-1 {
    margin-left: 50px;
}

.margin-left-2 {
    margin-left: 50px;
}

.emotion-margin-left {
    margin-left: 50px;
}

.satisfied-margin-left {
    margin-left: 50px;
}

.lastinfo-margin-left {
    margin-left: 50px;
}